

/* RULER */
.chart_ruler{
    position: relative;
    background-color: #ccd1d9;
    border: 2px solid black;
    width: 5vw;
    height: 300px;
}
.chart_ruler span{
    position: absolute;
}


/* EXLPLAIN */



#explain_chart{
    position: absolute;
    top: -100px;
    right:0;   
}

#explain_chart #explain_acpt{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #68e36f;
}
#explain_chart #explain_wrong{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f26d5e;
}



#chart_accs_wrongs {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 200px 10px 200px 10px;
}

.ydiv {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 300px;
    align-content: space-around;
}

.mdiv {
    position: relative;
    border: 1px solid pink;
    width: 1.5vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.daccs {
    background-color: #68e36f;
}

.dwrongs {
    background-color: #f26d5e;
}

.daccs , .dwrongs {
    display: inline-block;
    width: 0.75vw;
    top:0;
}
.daccs:hover, .dwrongs:hover{
    cursor: pointer;
}
.numyear:hover{
    padding-top: 50px;
    bottom: -100px;
}
.numyear{
    text-align:bottom;
    font-size: 20px;
    bottom: -70px;
    left: -40px;
    margin:0;
    padding: 0;
    position: absolute;
    z-index: 0;
    transition: 1s ;
    background-color: white;
}

.numMonth{
    bottom: -30px;
    left:20%;
    position: absolute;
    transition: 1s ;
    background-color: white;
}
.numMonth:hover{
    padding-top: 20px;
    bottom: -50px;
    transition: 1s ;
}

