
* {
    font-family: 'lato', sans-serif;
}

#header h1 {
    border: 1px solid #ccdbe3;
}


/*operation*/

#op a {
    text-decoration: none;
}

#new_user {
    display: block;
    text-decoration: none;
}

#op {
    position: absolute;
    right: 0;
    top: 20vh;
}

#reload img,
#new_user img {
    width: 50px;
    height: 50px;
}


/*Header*/

#header {
    height: 10vh;
    width: 100%;
    text-align: center;
}

#header h1 {
    align: center;
    margin: 0;
    height: 10vh;
    line-height: 10vh;
    width: 100%;
}


/*RANKING TABLE*/

#ranking_table {
    margin: 50px auto;
}

#ranking_table th {
    background-color: #68cdfc;
    border: 1px solid #ccdbe3;
}

#ranking_table td {
    background-color: #ffffff;
    
}
#ranking_table td {
    border-bottom: 0.75px solid #ccdbe3;   
}


#ranking_table th,td {
    padding: 20px 40px;
    text-align: left;
}

#acc_link {
    border: none;
}

#ranking_table td:first-child{
   
    font-weight: bold;


}
#ranking_table td:first-child :hover{

}

#sort_by_rating:hover {
    cursor: pointer;
    background-color:#0BAAD4;
    color:white;
    transition: 0.25s;
}

#sort_by_subs:hover {
    cursor: pointer;
    background-color:#0BAAD4;
    color:white;
    transition: 0.25s;
}